@media screen and (max-device-width : 1350px){
    main{
        width: 50%;
        height: 100%;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    .partie-contact{
        width: 100%;
        height: 60%;
    }
    .container-contact{
        justify-content: center;
        text-align: center;
    }
    h4{
        width: 100%;
    }
    .partie-formulaire{
        align-items: baseline;
        width: 100%;
        height: 60%;
    }
    .rsx{
        order: 1;
        height: 20%;
    }


}




@media screen and (max-device-width : 900px){
    main{
        width: 100%;
        height: 100%;
        flex-direction: column;
        align-items: center;
        background-color: red;
    }
    .partie.contact{
        order: 2;
        height: 100% ;

    }
    .partie-formulaire {
        order: 3;
        width: 50%;
    }

    .rsx{
        height: 25%;
        order: 1;
        display: none;
    }


}