@media screen and (max-device-width : 1350px){
    main{
        width: 50%;
        height: 100%;
        flex-wrap: nowrap;
        justify-content: center;
        background-color: #FBAB7E; background-image: linear-gradient(225deg, #ED712B 33%, #F7CE68 100%);
    }
    .partie-contact{
        width: 100%;
        height: 40%;
    }
    .container-contact{
        justify-content: center;
        text-align: center;
    }
    .container-form{
        height: 100%;
    }
    .container-contact .coord, .container-contact .rsx {
        margin-top: 10%;
    }
    h1{
        font-size: 3.5em;
    }
    h4{
        font-size: 1.2em;
        width: 100%;
    }
    form button{
        margin-top: 10%;
    }
    .partie-formulaire{
        align-items: baseline;
        width: 100%;
        height: 50%;
    }
    .rsx{
        order: 1;
        width: 100%;
    
    }
    .rsx1{
        justify-content: center;
        align-items: center;
    }


}






@media screen and (max-device-width : 900px){
    main{
        width: 100%;
        height: 100%;
        align-items: center;
    }
    .partie.contact{
        height: 100% ;

    }
    .partie-formulaire {
        width: 100%;
    }
    .container-form{
        width: 60%;
        height: 100%;
    }

    .rsx{
        width: 100%;
        height: 10%;
        order: 1;
    }
    .rsx1{
        height: 100%;
        justify-content: center;
        align-items: center;
    }


}

@media screen and (max-device-width : 510px){






}
