body {
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    background: #B8B9CC;
    caret-color:#F4620F ;
    font-family: 'Murecho', sans-serif;
  }
main{
    width: 70%;
    height: 80%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0;
    background-color: #FBAB7E; background-image: linear-gradient(270deg, #ED712B 33%, #F7CE68 100%);
    border-radius: 13px;
 }

 h1{
     margin-top: 0;
     font-size: 2.5em;
     color: #fff;
 }
 h4{
     width: 70%;
     color: #fff;
     font-weight: 400;
 }
 p{
     font-size: 1.1em;
    font-weight:500;
    margin-bottom: 5%;
     color: #fff;
 }
 a{
     font-size: 1.1em;
     font-weight:500;
     text-decoration: none;
     color: #fff;
 }
 i{
     font-size: 1.7em;
 }
 .fa-facebook-f:hover, .fa-twitter:hover, .fa-instagram:hover{
     color:#F4620F;

 }


 .partie-contact{
     width: 50%;
     height: 70%;
     display: flex;
     justify-content: center;
     align-items: center;

 }
 .partie-formulaire{
     width: 50%;
     height: 100%;
     display: flex;
     justify-content: center;
     align-items: center;

 }

 .container-form{
     width: 70%;
     height: 80%;
     background: #fff;
     border-radius: 18px;
     display: flex;
     justify-content: center;
     align-items: center;
 }
 .container-contact{
     width: 70%;
     height: 80%;
    //  background-color: red;
        .coord, .rsx{
            margin-top: 20%;
        }
            .rsx{
                display: flex;
            }
 }
 

.fa-phone{
    color: #fff;
}
.fa-solid{
    font-family: 'Murecho', sans-serif;
}

.fa-phone, .fa-envelope{
    font-size: 1.2em;
    margin-right: 3%;
}

.fa-location-dot{
    font-size: 1.2rem;
    margin-left: 1%;
    margin-right: 3%;
}


 form{
     width: 80%;
     height: 100%;
     flex-direction: column;
 }
 

 input[type=text]{
     display: flex;
     width: 100%;
     padding: 5%;
     padding-left: 40px;
     border-radius: 8px;
     color: rgb(0, 0, 0);
     border: 1px solid #E0E0E8;
     box-sizing: border-box;
     outline-color: #F4620F;
     font-family: 'Murecho', sans-serif;
 }
 input[type="email"]{
    display: flex;
    width: 100%;
    padding: 5%;
    padding-left: 40px;
    border-radius: 8px;
    color: rgb(0, 0, 0);
    border: 1px solid #E0E0E8;
    box-sizing: border-box;
    outline-color: #F4620F;
    font-family: 'Murecho', sans-serif;
     
 }
//  input:invalid{
//      border-color: red;
//  }
//  input:focus:invalid {
//     outline: none;
//   }


 .text-nom{
     background: url(/images/iconProfil.png) no-repeat scroll 3%;
 }
 .text-mail{
     background: url(/images/iconMail.png) no-repeat 3%;
 }
.text-nom:focus{
    background: url(/images/iconProfilFocus.png) no-repeat 1.9%;
}
.text-mail:focus{
    background: url(/images/iconMailFocus.png) no-repeat 3%;
}
 textarea{
     display: flex;
     width: 100%;
     height: 50%;
     outline-color: #F4620F;
     padding: 15px;
     border-radius: 8px;
     box-sizing: border-box;
     border: 1px solid #E0E0E8;
     font-family: 'Murecho', sans-serif;
     background: RGB(217, 212, 201, 0.2);
     resize: none;
 }
 textarea:focus{
     background: #fff;
 }


 label{
     display: inline-block;
     margin-top: 10%;
     margin-bottom: 5px;
 }

 .message{
     height: 30%;
 }

 .btn-envoyer{
     color: white;
     border-radius: 7px;
     background-color: #F4620F;
     border: none;
 }


  form button{
      width: 40%;
      height: 9%;
      margin-top: 4%;
      margin-left: 60%;
      font-size: 1.2em;
      font-family: 'Murecho', sans-serif;
      cursor: pointer;

  }

  .css-button-shadow-border-sliding--red {
    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 7px;
    border: none;
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5), 7px 7px 20px 0px rgba(0,0,0,.1), 4px 4px 5px 0px rgba(0,0,0,.1);
    background: #F4620F;
   z-index: 1;
  }
  .css-button-shadow-border-sliding--red:hover:after {
    width: 100%;
    left: 0;
  }
  .css-button-shadow-border-sliding--red:after {
    border-radius: 7px;
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    top: 0;
    z-index: -1;
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5), 7px 7px 20px 0px rgba(0,0,0,.1), 4px 4px 5px 0px rgba(0,0,0,.1);
    transition: all 0.3s ease;
    background-color: #f8c953;
    right: 0;
  }
  .css-button-shadow-border-sliding--red:active {
    top: 2px;
  }

.rsx{
    width: 50%;
    display: flex;
    justify-content: center;
    height: 10%;
  .circle-f{
    width: 15%;
    height: 95%;
    border-radius: 50%;
    background-color: none;
  }}

  .rsx1{
      width: 70%;
      display: flex;
  }
  .circle-t{
      background-color: none;
      width: 15%;
      height: 95%;

      border-radius: 50%;
  }
  .circle-i{
    width: 15%;
    height: 95%;
    border-radius: 50%;
    background-color:none;
  }

  .circle-f, .circle-t, .circle-i{
      display: flex;
      justify-content: center;
      align-items: center;
  }

  @import './_media'